@model ML.AlumnoMateria
@{
    ViewBag.Title = "GetMateriaSinAsignar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<div class="row">
    <div class="col-md-12">
        <h2>Materias Asiganadas</h2>
    </div>
</div>
<div class="container">

    <div class="row">
@using (Html.BeginForm("GetMateriaSinAsignar", "AlumnoMateria", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
            <div class="form-group hidden">
                @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "control-label col-md-2 hidden" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "form-control hidden", @readonly = true })
                    @Html.ValidationMessageFor(model => model.Alumno.IdAlumno)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Alumno.Nombre, new { @class = "control-label", @readonly = true })
                    <input type="text" name="Alumno.Nombre" class="form-control"/>
                    @Html.ValidationMessageFor(model => model.Alumno.Nombre)
                </div>
            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.Alumno.ApellidoPaterno, "Apellido Paterno", new { @class = "control-label", @readonly = true })
                @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(model => model.Alumno.ApellidoPaterno)
            </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.Alumno.ApellidoMaterno, "Apellido Materno", new { @class = "control-label", @readonly = true })
            @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @readonly = true })
            @Html.ValidationMessageFor(model => model.Alumno.ApellidoMaterno)
        </div>

    <br />

    <div class="row" style="padding-top:30px">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">
                        Selecciona
                    </th>
                    <th class="text-center " scope="col">
                        Nombre
                    </th>
                    <th class="text-left" scope="col">
                        Costo
                    </th>
                </tr>
                @foreach (ML.AlumnoMateria alumnomateria in Model.AlumnoMaterias)
                {
                    <tr>
                        <td class="text-center hidden">
                            @alumnomateria.Materia.IdMateria
                        </td>
                        <td class="text-center">
                            <input id="checkbox_@alumnomateria.Materia.IdMateria" type="checkbox"  value="@alumnomateria.Materia.IdMateria" name="AlumnoMaterias" onclick="CalcularTotal(@alumnomateria.Materia.Costo, @alumnomateria.Materia.IdMateria)">
                        </td>
                        <td class="text-left">
                            @alumnomateria.Materia.Nombre 
                        </td>
                        <td class="text-left">
                            @alumnomateria.Materia.Costo
                        </td>
                    </tr>
                }
            <tr>
                <td class="text-center">Total:</td>
                <td></td>
                <td id="total" class="text-center">0</td>
            </tr>
            </table>

            <div class="form-group col-md-12">
                <div class="text-right">
                    <input class="btn btn-success" type="submit" value="Actualizar" />
                    <a class="btn btn-danger" href="@Url.Action("GetMateriaAsignada", "AlumnoMateria", new { IdAlumno = Model.Alumno.IdAlumno })" > Regresar</a>
                </div>
            </div>
        </div>
    </div>
}

</div>
<script type="text/javascript">

    function CalcularTotal(Costo, IdMateria) {
        if ($('#checkbox_' + IdMateria).is(':checked')) {
            var total = parseInt($('#total').text())
            total = total + Costo;
            $('#total').text(total)
        }
        else {

        }

    }
</script>